@font-face{
    font-family: 'Raleway-light';
    src: url(fonts/raleway/Raleway-Light.ttf);
}
@font-face{
    font-family: 'Raleway-regular';
    src: url(fonts/raleway/Raleway-Regular.ttf);
}
@font-face{
    font-family: 'Raleway-bold';
    src: url(fonts/raleway/Raleway-Bold.ttf);
}
@font-face{
    font-family: 'Raleway-extrabold';
    src: url(fonts/raleway/Raleway-ExtraBold.ttf);
}