@import 'fonts.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}

body {
    background: #000;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 49px;
    text-align: center;
    color: #FFFFFF;
}

/* header */

.header {
    background: url(../img/header_bg.jpg)no-repeat center /cover;
    height: 768px;
}

.container_header {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: end;
    padding-bottom: 190px;
}

/* header end */

/* main */

.container_nav {
    padding-bottom: 25px;
    padding-top: 26px;
}

.block1 {
    display: flex;
    justify-content: space-between;
    margin-top: 43px;
    flex-wrap: wrap;
}

.block1::after {
    content: '';
    display: block;
    width: 1000px;
    height: 2px;
    background: linear-gradient(90deg, #61FF00 0.5%, #AFE70F 100.5%);
    margin: 0 auto;
    margin-top: 62px;
}

.right {
    display: flex;
    align-items: center;
}

.right ul {
    text-align: start;
}

.right ul li {
    margin-bottom: 31px;
}

.right ul li:nth-child(5) {
    margin-bottom: 0;
}

.right ul li a {
    text-decoration: none;
    font-size: 36px;
    line-height: 49px;
    color: #fff;
    position: relative;
}

.right ul li a:hover:before{
    transform: scaleX(1);
    transition: transform 0.80s;
}

.right ul li a:before{
    content: '';
    width: 100%;
    height: 2px;
    background: linear-gradient(270deg, #AFE70F 50%, #53F407 69.89%, #05FF00 72.27%, rgba(196, 196, 196, 0) 86.96%);
    position: absolute;
    left: 0;
    bottom: -5px;
    transform: scaleX(0);
    transform-origin: left;
}

/* 3 блок */

.cards_uslugi {
    margin-top: 34px;
}

.card_uslugi {
    max-width: 359px;
    width: 100%;
    margin-bottom: 50px;
    margin-right: 5px;
    margin-left: 5px;
}

/* 3 блок end*/

/* 4 блок */

.container_form::before {
    content: '';
    display: block;
    margin: 0 auto;
    height: 90px;
    width: 3px;
    background: linear-gradient(269.97deg, #00FF38 0.02%, #AFE70F 67.78%);
    margin-bottom: 26px;
}

.container_form::after{
    content: '';
    display: block;
    width: 3px;
    height: 90px;
    background: linear-gradient(269.97deg, #00FF38 0.02%, #AFE70F 81.66%);
    margin: 0 auto;
    margin-top: 26px;
    margin-bottom: 30px;
}

.forma_title {
    font-family: Changa;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 66px;
    text-align: center;
}

.forma_description {
    font-family: Changa;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    max-width: 579px;
    width: 100%;
    margin: 0 auto;
}

.forma {
    border: 6px solid #05FF00;
    box-sizing: border-box;
    border-radius: 58px;
    padding: 48px 50px 69px;
    max-width: 1050px;
    width: 100%;
    margin: 0 auto;
}

.form {
    margin-top: 63px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form input {
    background: rgba(255, 255, 255, 0.15);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 14px;
    padding: 13px 26px;
    padding-right: 50px;
    margin-right: 50px;
    border: 2px solid #FFFFFF;
    font-weight: bold;
    font-size: 24px;
    line-height: 44px;
    color: #FFFFFF;
}

.form input:focus{
    border: 2px solid #FFFFFF;
}

.form button {
    font-family: Changa;
    font-size: 24px;
    line-height: 44px;
    text-align: center;
    color: #000000;
    outline: none;
    padding: 13px 64px;
    background: #FFFFFF;
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    border-radius: 10px;
}